* {
    box-sizing: border-box;
}
.header {
    padding: 10vh;
    margin: -1vh;
    font-size: 3.5vh;
    text-align: center;
    background: #3868b1;
    color: #ffffff;
    margin-bottom: 1.5vh;
}

body {
    text-align: center;
}
.info_section {
    display: inline-block;
    background: #e2e2e2;
    padding-left: 10vh;
    padding-right: 10vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    border-style: hidden;
    text-align: left;
    border-radius: 1vh;
}
.info_section th, td {
    padding: 0.5vh;
}
