<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='default_styles.css')}}">
    <title>PowerCalculator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
    <div class="header">
        <h1>PowerCalculator</h1> 
    </div>
    <div class="section">
      <p>PowerCalculator allows students to check their GPA scores without <br>having to type their scores in manually in a calculator.</p>
      <p>This website is developed & designed by Andrew Hong</p>
    </div>
</body>
</html>