<!DOCTYPE html>
<html lang="en">
<head>
    <script data-ad-client="ca-pub-1136394812452212" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='course_styles.css')}}">
    <title>PowerCalculator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
    <div class="header">
        <h1>PowerCalculator</h1> 
    </div>
    <div class="info_section">
        <h1>GPA</h1>
        <p>{{  student_gpa }}</p>
    </div>
    <div class="info_section">
        <h1>Courses</h1>
        <p><b>NOTE:</b> Physical Education is not a course that affects your GPA.</p>
    </div>
</body>
</html>